img[alt="missingData"] { 
  max-width:  20px; 
  display: block;
}


.markdown-cell {
  background-color: #FFFFFF;
  color: #333;
  font-size: 29px;  /* change the font size you want */
  line-height: 1.5;
  font-family: "monaco";

}

.bigbaseline {
   font-size: 12em;
   color: #134C89;
   text-align: center;
   font-style:italic;
}



